
body{
 background-color: rgb(241, 238, 238);
}

.user{
    background-color: white;
    border-bottom: 3px solid rgb(236, 234, 234);
    width: 100%;
    height: 50px;
   padding-right: 50px;
}

.user > a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.user > img{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50px;
    object-fit: cover;
}

.username{
    width: 100%;
    border-bottom: 3px solid rgb(236, 234, 234);
}

.username > h1{
    text-transform: uppercase;
    color: rgb(103, 103, 216);
}

.user-info > img{
    height: 90px;
    width: 90px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}

.main-table{
    border: none;
}

.main-table > th{ 
    border: none;
}

.main-table > td{ 
    border: none;
}

.star{
    color:rgb(94, 206, 172);
    font-size: 20px;
    justify-content: space-between;
}

.btn-resume{
    width: 150px;
    height: 40px;
    text-transform: uppercase;
}

.card-main{
    height: 120px;
}

.card-main-1{
    /* background-color: rgb(48, 206, 153); */
    background-color: white;

}

.card-main-2{
    /* background-color: rgb(35, 150, 170); */
    background-color: white;
}

